.search-bar {
  display: flex;
  align-items: center;
  gap: 20px; /* Increase the gap for better spacing */
  margin-top: 20px;
  width: 100%;
  max-width: 1400px; /* Increase max-width for a wider search bar */
  margin: 0 auto;
}

.input-icon-container,
.date-range-picker,
.guest-input-container {
  flex: 1; /* Ensure the elements take available space */
  max-width: 300px; /* Adjust the width to ensure the elements are wider */
  margin-right: 20px; /* Add margin to right for spacing */
}

.input-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.input-icon {
  position: absolute;
  left: 10px;
  color: #242c54;
}

.input-icon-container .input-field {
  padding-left: 35px;
  flex: 1;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  height: 40px; /* Set height to ensure consistency */
  cursor: pointer;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  height: 40px; /* Set height to ensure consistency */
}

.search-button {
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  height: 40px; /* Set height to ensure consistency */
}

.search-container {
  background-color: rgba(36, 43, 89, 0.7098);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  max-width: 100%; /* Ensure it takes full width if needed */
}
