.wholepage{
    height: 160vh; /* Full viewport height */
    overflow: hidden;
}

.tick{
    position: relative;
    width: 40px;
    height: 40px;
    top:-1685px;
    left: 115px;
}

.two{
    position: relative;
    top: -1750px;
    left: 695px;
}

h1.three{
    position: relative;
    top: -1810px;
    left: 1275px;
}

.DetailButton {
    position: relative;
    background-color: #242B59;
    color: white;
    opacity: 70%;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 30px;
    top: -980px;
    left: 1150px;
}
.DetailButton:hover{
    background-color: #242B59;
    color: white;
    cursor: pointer;
    opacity: 100%;
}

