.wholepage{
    height: 160vh; /* Full viewport height */
    overflow: hidden;
}

.tick{
    position: relative;
    width: 40px;
    height: 40px;
    top:-1800px;
    left: 115px;
}

.two{
    position: relative;
    top: -1865px;
    left: -15px;

}

.three{
    position: relative;
    top: -1925px;
    left: 565px;
}


.HotelDetailContainer{
    position: relative;
    top: -80px;
    width:320px;
    height:fit-content;
    margin-left: 80px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
}


.location{
    position: relative;
    top: -10px;
    font-size: 15px;
}

.rating{
    position: relative;
    top: 10px;
    left: 100px;
}

.wordrating{
    color: rgb(149, 149, 149);
    margin-top:10px ;
}
.numberrating{
    position: relative;
    top: 10px;
}

.BookingDetailContainer{
    position: relative;
    top: -80px;
    width:320px;
    height:300px;
    margin-bottom: 20px;
    margin-left: 80px;
    border-radius: 10px;
    padding: 20px;
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
}

.BookingDetail{
    align-items: center;
}

.divider{
    position: relative;
    top: -75px;
    left: 145px;
    font-size: 40px;
    color: rgb(174, 174, 174);
}

.CheckOut{
    position: relative;
    top: -140px;
    left: 170px;

}

.NumberOfGuest{
    position: relative;
    top: -120px;
    font-size: 14px;
}

.HotelRoom{
    position: relative;
    top: -120px;
}

.PriceCalculationContainer{
    position: relative;
    top: -80px;
    width:320px;
    height:fit-content;
    margin-left: 80px;
    border-radius: 10px;
    padding: 20px;
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
}



.OGprice{
    position: relative;
    top: -20px;
    text-align: end;
}

.Taxprice{
    position: relative;
    top: -20px;
    text-align: end;
}

.TotalSum{
    font-weight: bold;
}

.Totalprice{
    position: relative;
    top: -20px;
    text-align: end;
}




.DetailButton {
    position: relative;
    background-color: #242B59;
    color: white;
    opacity: 70%;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 30px;
    top: -1170px;
    left: 1100px;
}
.DetailButton:hover{
    background-color: #242B59;
    color: white;
    cursor: pointer;
    opacity: 100%;
}

