.YourDetails,.YourSelection,.Completed{
    font-weight: bold;
}
.YourSelection{
    position: relative;
    top: 90px;
    left:90px;
}
.YourDetails{
    position: relative;
    top: 20px;
    left: 665px;
}

.Completed{
    position: relative;
    top: -50px;
    left: 1240px;
}
.line1{
    position: relative;
    width: 500px;
    height: 1px;
    background-color: rgb(96, 95, 95);
    top: -5px;
    left: 165px; 
}

.line2{
    position: relative;
    width: 500px;
    height: 1px;
    background-color: rgb(96, 95, 95);
    top: -75px;
    left: 740px; 
}




