.container2{
    position: relative;
    background-color:#D9D9D9;
    width:300px;
    height:200px;
    border-radius: 10px;
    top: -50px;
    left: 90px;
    background-color: white; 
    padding: 30px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}
