.amenities-bar {
    display: grid;
    grid-template-columns: repeat(3, 13rem);
    gap: 1rem;
  }
  
  .amenities-bar.single-column {
    grid-template-columns: 1fr;
    margin-left: 2rem   ;
  }
  
  .amenity-item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .amenity-text {
    font-size: 14px;
  }
  