@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-6rem); }
}

.filter-container {
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
  display: flex;
  margin-top: 2rem;
  margin-left: 12%;
  align-items: flex-start;
  width: fit-content;
  height: fit-content;
  z-index: 100;
  position: fixed;
  transition: transform 0.3s ease; /* Smooth transition for other transformations */
}

.bounce {
  animation: bounce 0.5s forwards; /* Apply bounce animation */
}

.hotellist-container {
  display: flex;
  flex-direction: row; /* Arrange filter and hotel list side by side */
  gap: 5rem;
  margin: 1rem; /* Optional: Add margin for spacing */
}

.hotels {
  margin-top: 2rem;
  margin-left: 36%;
  display: flex;
  flex-direction: column; /* Arrange hotels vertically */
  flex-grow: 1; /* Allow the hotel list to take remaining space */
}

.hotel-card {
  margin-bottom: 1rem; /* Space between hotel cards */
}